Config =
{
	Platforms =
	{
		'win64', 'win32',
	},

	UserVariables = {
	    --{ 'LUA_VERSION', { 'lua51', 'lua51-luaplus', 'lua52', 'lua52-luaplus', 'lua53' } },
	},
	
	JamfileVariables =
	{
		{ 'LUA_VERSION', { 'lua53-luaplus', 'lua53', 'lua52-luaplus', 'lua52', 'lua51-luaplus', 'lua51' } },
		{ 'LUAPLUS_OUTPUT_DIRECTORY', '$(destinationRootPath)/bin.$$(LUA_VERSION).$$(C.COMPILER).$$(PLATFORM)' },
	}
}
