Config =
{
	Platforms =
	{
		'win32', 'win64',
	},

	UserVariables = {
	    --{ 'LUAPLUS_LUA_VERSION', { 'lua51', 'lua51-luaplus', 'lua52', 'lua53' } },
	},
	
	JamfileVariables =
	{
	    { 'LUAPLUS_LUA_VERSION', { 'lua51', 'lua51-luaplus', 'lua52', 'lua53' } },
	    --{ 'LUAPLUS_LUA_VERSION', '$(LUAPLUS_LUA_VERSION)' },
		{ 'LUAPLUS_OUTPUT_DIRECTORY', '$(destinationRootPath)/bin.$$(LUAPLUS_LUA_VERSION).$$(COMPILER).$$(PLATFORM)' },
	}
}
