body
{
	margin: 2em;
	padding: 0;
	font: 100% arial, hevetica, sans-serif;
	color: #000;
	background-color: #fff;
}

a { color: #000; text-decoration: none;}

#header
{
	border-bottom: 1px solid #999;
}

#header h1
{
	color: #000;
}

#mainnav
{
	display: none;
}


#menu
{
	display: none;
}

#menu ul
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	line-height: 165%;
}

#contents p { line-height: 165%; }
.blogentry { border-bottom: 1px solid #999; }

.blogentry ul
{
	list-style-type: none;
	text-align: right;
	margin: 1em 0;
	padding: 0;
	font-size: 95%;
}

.blogentry li
{
	display: inline;
	padding: 0 0 0 7px;
}

.imagefloat
{
	display: none;
}

#footer
{
	clear: both;
	color: #000;
	text-align: right;
	padding: 5px;
	font-size: 90%;
	border-top: 1px solid #999;
	margin-top: 2em;
}

#skipmenu
{
	display: none;
}
